/*Regole generali*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #B91450;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.container h1 {
    color: #fff;
    margin: 20px 0px;
}

/*Regole parte inserimento dati*/

#top-part {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

.ms_border {
    border: 1px solid #B91450;
    border-radius: 3px;
    margin: 15px 0px;
}

.top-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#top-part span {
    color:#B91450;
}

#top-part .button-content {
    padding: 30px;
}

.ms_button {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    color: #B91450;
}

/*Regole parte biglietto*/

.bottom-content {
    text-align: left;
    background-color: #fff;
    padding: 15px;
}

.bottom-flex {
    display: flex;
}

.bt-left {
    background-color: #808080;
    padding: 20px;
    font-weight: bold;
}

.ms_bt-border {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.bt-right table {
    padding: 20px;
}

.bt-right th,td {
    padding-right: 40px;
}

.bt-right th {
    padding-bottom: 40px;
}